#header {
    width: 100%;
    height: 110%;
}

#container {
    margin: auto;
}
#first {
    float: center;
}
#second {
    
    float: center;
  
}
#clear {
    clear: both;
}

body{

background: rgb(236, 236, 183);

}
.center{
    text-align: -webkit-center;
}